<h1>New Loan</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<%= form_for @prestamo do |f| %>
			<%= f.label :nombre %>
			<%= f.text_field :nombre, class: "form-control" %>

			<%= f.label :monto %>
			<%= f.text_field :monto, class: "form-control" %>

			<%= f.label :tipo %>
			<%= f.collection_select :tipo, Prestamo::TIPO, :to_s, :to_s, :include_blank => true, class: "form-control" %>

			<%= f.submit "Create", class: "btn btn-primary" %>
		<% end %>

		<h2><%= link_to 'Go Back', prestamos_path %></h2>
		
	</div>
</div>
